<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>We have received your payment!</h2>
    <p>
      Thank you very much. Today we received the Total amount of <%= @ordered_item.item.price * @ordered_item.quantity %> <%= @ordered_item.item.currency %>
      for your order of <%= pluralize(@ordered_item.quantity, @ordered_item.item.quantity_unit) %> of
      <%= @ordered_item.item.name.pluralize(@ordered_item.quantity) %>!
    </p>
    <p>
      We look forward to receive your next order, very soon! :-)
    </p>
    <p>
      Please do not hesitate to contact <a href="mailto:railsshoptest@gmail.com">railsshoptest@gmail.com</a>
      if you have any further questions.
    </p>
    <p>Yours sincerely
    RailsShop</p>
  </body>
</html>
