<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Your order has been shipped!</h2>
    <p>
      Today we shipped successfully your order (<%= pluralize(@ordered_item.quantity, @ordered_item.item.quantity_unit) %> of
      <%= @ordered_item.item.name.pluralize(@ordered_item.quantity) %>)!
    </p>

    <p>
      Please do not hesitate to contact <a href="mailto:railsshoptest@gmail.com">railsshoptest@gmail.com</a>
      if you have any further questions.
    </p>
    <p>Yours sincerely
    RailsShop</p>
  </body>
</html>
