<li><%= link_to "Categorymanagement", categories_path %></li>
<li><%= link_to "Addresses", addresses_path %></li>
<li><%= link_to "Customers", customers_path %></li>
<li><%= link_to "Orderes", ordered_items_path %></li>
